[2016-08-18 15:58] DarthEd77 opened #3 "Allow subclassing of Gearman::Client"
I'm an old school object-oriented programmer that still uses inheritance, so I subclassed Gearman::Client to make my own client that provides default settings for my project. Unfortunately, there's a line in Taskset.pm (in both the master and ssl branches) that requires the client object to be a reference to a Gearman::Client object and nothing else.

The fix is rather simple, of course. I changed

[2016-08-19 09:13] p-alik commented on #3
it's done as requested in https://github.com/p-alik/perl-Gearman/commit/ae7b18124cc9e1f2b897b55e8aa346872d32a62d in upstream.

[2016-10-18 18:58] p-alik commented on #3
[2.001.001-TRIAL](https://metacpan.org/pod/release/PALIK/Gearman-2.001.001-TRIAL/lib/Gearman/Client.pm) should satisfy subclassing.

[2016-10-20 11:23] p-alik commented on #3
the issue is done

[2016-10-20 11:23] #3 closed, assigned to nobody

[2017-02-01 11:27] davel opened #6 "Support low priority tasks"
The protocol supports a "low" priority level, in addition to "high" and "normal", which the client currently implements. See https://github.com/gearman/gearmand/blob/33fccc5390dc67afc2a3fea36ea0bfecfe36b44b/PROTOCOL#L165

Could we add support for low priority tasks in the client?

[2017-02-01 11:41] p-alik commented on #6
thanks for pointing to the issue @davel. It should be done soon.

[2017-02-05 21:26] p-alik opened #7 "task pack_submit_packet tests"
TBD

[2017-02-09 21:00] p-alik opened #8 "taskset tests"
add tests process_packet for
- work_data
- work_warning

[2017-02-09 21:12] p-alik commented on #6
@davel, the issue is solved in 099053a. I'll close it as soon as new version is uploaded to cpan

[2017-02-11 21:53] p-alik opened #9 "add a check for undefined $fd in Gearman::Taskset"
[code]

[2017-02-18 20:47] p-alik commented on #6
@davel, the issue is done. This is a part of [2.003_001](https://metacpan.org/pod/release/PALIK/Gearman-v2.003_001/lib/Gearman/Client.pm) release.

[2017-02-18 20:47] #6 closed, assigned to nobody

[2017-02-18 23:08] davel commented on #6
Awesome, thank you!

[2017-02-20 15:13] ppisar opened #10 "Gearman-Client-Async tests hang since Gearman > 1.130.004"
I noticed Gearman-Client-Async-0.94 started to fail tests after upgrading Gearmean from 1.130.004 to 2.002.003 <https://rt.cpan.org/Public/Bug/Display.html?id=120306>.

I bisected the failure to Gearman's commit:

[code]

Do you have an idea if this is a bug in new Gearman or Gearman-Client-Async uses Gearman in a wrong way?

[2017-02-20 17:11] p-alik commented on #10
Oh, I'm sorry. I'll fix it as soon as possible.

[2017-02-20 20:56] p-alik commented on #10
@ppisar, what kind of `gearmand` do you use for testing purpose?
gearman.org or [Gearman::Server](https://metacpan.org/pod/Gearman::Server)

[2017-02-21 09:02] ppisar commented on #10
On Mon, Feb 20, 2017 at 12:56:16PM -0800, Алексей Пастухов wrote:

Gearman-Server-v1.130.1.

[2017-03-02 07:54] p-alik commented on #10
After little changes commited in [this branch](https://github.com/p-alik/perl-Gearman/tree/issue-10) `allinone.t` runs fine in my environment.

[code]
May you test it please.

[2017-03-02 11:50] ppisar commented on #10
On Wed, Mar 01, 2017 at 11:54:17PM -0800, Алексей Пастухов wrote:

[...]

Thanks for the fix. I tested it and it works for me now.

-- Petr

[2017-03-02 12:22] p-alik commented on #10
cool, thanks for testing.
Bug fixing will be a part of next alpha _v2.003_002_, I'll release this evening.

[2017-03-07 13:51] ppisar opened #11 "Gearman-v2.003_002 t/20-send-work-command.t test fails with: Can't locate object method "CMD_work_data" via package "Gearman::Server::Client""
I gave a try to Gearman-v2.003_002 and when running t/20-send-work-command.t tests against Gearman-Server-1.130.1, I see these failures:

[code]

[2017-03-07 18:42] p-alik commented on #11
There is no `WORK_DATA` or `WORK_WARNING` implementation in  _Gearman::Server_ yet. So the new methods `send_work_data` and `send_work_warning` introduced in v2.003_002 could only be used with [gearmand](http://gearman.org)

[2017-03-15 08:06] p-alik commented on #10
Since Gearman::Client v2.003.001 is released to [CPAN](https://metacpan.org/release/PALIK/Gearman-2.003.001) the issue is done

[2017-03-15 08:06] #10 closed, assigned to nobody

[2017-03-16 21:21] p-alik commented on #11
@ppisar, put the issue into `Gearman::Server` queue

[2017-03-16 21:21] #11 closed, assigned to nobody

[2017-03-24 08:02] kentfredric opened #12 "Fails tests without '.' in @INC"
5.25.* with -Ddefault_inc_excludes_dot ( default since 5.25.11 )
[code]

[2017-03-24 09:47] p-alik commented on #12
thanks for reporting, @kentfredric.
I'm going to solve it soon

[2017-03-25 22:27] p-alik commented on #12
I added `use lib '.'` into the test scripts. My tests with perl 5.25.11 passed. May you test please.

[2017-03-26 10:16] kentfredric commented on #12
Gave it a shot, yep, tests pass. :) Thanks.

[2017-03-26 19:58] p-alik commented on #12
one more time: thanks for reporting, @kentfredric

[2017-03-26 19:58] #12 closed, assigned to nobody

[2017-03-31 12:51] p-alik opened #13 "set prefix separator"
[Gearman::Objects->func](https://github.com/p-alik/perl-Gearman/blob/master/lib/Gearman/Objects.pm#L138) by using prefix Client and Worker deal with function names in form `join "\t", prefix function-name`.

The trouble is in persistence of `gearmand` queue only. In particular with `libmemcached`.

- start gearmand with memcache persistence
`gearmand --queue-type libmemcached --libmemcached-server

[2017-04-12 08:36] p-alik opened #14 "unreliable tests"
1.  t/14-sleep.t
When I was installing/testing 2.004.001 using 'cpan', t/14-sleep.t hanged
during either test #4 or #5 ("4/?" was displayed on the screen).... After I
gave up and hit control-C, I ran the test again, and then it worked.
1.  t/50-wait_timeout.t
http://www.cpantesters.org/cpan/report/5db73e0c-1589-11e7-807f-f398cc11fead
[code]

[2017-04-12 08:53] p-alik commented on #13
done in [v2.004.001](https://github.com/p-alik/perl-Gearman/releases/tag/v2.004.001)

[2017-04-12 08:53] #13 closed, assigned to nobody

[2017-04-13 22:35] esabol commented on #14
Just some context for (1) in the above post: It occurred on CentOS 7.3 using /usr/bin/perl (v5.16.3) when tested using the `cpan` command. I could not reproduce it running "make test" from the command line outside of `cpan`, but I didn't try multiple times either.

[2017-04-13 22:37] esabol commented on #9
I've been testing the IO::Select patch (at the above commits) to Taskset.pm with 2.004.001 for several days now, and I haven't encountered any problems.

[2017-04-14 20:50] p-alik commented on #9
Thank you, @esabol. The changes are released in v2.004.003 to CPAN

[2017-04-14 20:50] #9 closed, assigned to nobody

[2017-05-03 08:40] p-alik opened #15 "Use of each() on hash after insertion without resetting hash iterator results in undefined behavior"
[Taskset v2.004.002](https://github.com/p-alik/perl-Gearman/blob/v2.004.002/lib/Gearman/Taskset.pm#L390)  throws the warning.

[2017-05-23 05:57] p-alik commented on #15
done in v2.004.004

[2017-05-23 05:57] #15 closed, assigned to nobody

[2017-05-23 05:58] p-alik commented on #8
done in v2.004.003

[2017-05-23 05:58] #8 closed, assigned to nobody

[2017-05-23 06:07] p-alik opened #16 "Taskset->add_task does not support payload > 16K if SSL socket"
The issue is related to 9545f18b9b60a87fc977c2041c174f701d778a1a

`syswrite` in [add_task](https://github.com/p-alik/perl-Gearman/blob/v2.004.005/lib/Gearman/Taskset.pm#L276) should be replaced by
[code]

[2017-05-23 06:09] p-alik opened #17 "SSL large payload test"
Client/Worker tests for data > 16K

[2017-05-24 17:52] esabol opened #18 "Gearman::Worker minor optimizations"
I'm not sure if the Perl compiler already optimizes these these things or not, but I suspect not. The following simple optimizations could be made:

1. Replace
[code]
with
[code]
A simple change that should improve efficiency.

2. _send() is a little different though. The second argument is a SCALAR, but Gearman::Util::send_req() wants a REF.
[code]
Passing a REF is more efficient, _especially_ wi

[2017-05-25 16:36] p-alik commented on #7
done in 42906809d33994c36cfd5f65d68caad9af8d5763

[2017-05-25 16:36] #7 closed, assigned to nobody

[2017-05-25 16:37] p-alik commented on #16
done but not released yet

[2017-05-25 16:37] #16 closed, assigned to nobody

[2017-05-25 16:44] p-alik commented on #17
done in [18-ssl.t](https://github.com/p-alik/perl-Gearman/blob/master/t/18-ssl.t#L130-#L185)

[2017-05-25 16:44] #17 closed, assigned to nobody

[2017-05-25 17:43] esabol commented on #16
I added a comment on the commit 56b7a1f6b7b87ed1fcb047c8100a608917747b3c.

[2017-05-27 12:05] p-alik opened #19 "Client->get_job_server_status doesn't work if job_server is a hash reference"
`get_job_server_status` returns  a hash reference `{job_server => {job => {capable, queued, running}}}`.
`job_server` should be stringified.

[2017-05-27 12:10] p-alik commented on #19
done 471cff9ad1923d9d43cb7a8bdcd15ada39e97220

[2017-05-28 11:33] #19 closed, assigned to nobody

[2017-05-30 12:07] p-alik commented on #18
Both are done in upstream. `_send` is an internal sub. It was introduced in [v2.003_001](https://github.com/p-alik/perl-Gearman/blob/v2.003_001/lib/Gearman/Worker.pm#L716) in February. Therefore the sub was rewritten with reference to `Gearman::Util::send_req`

[2017-06-01 23:22] esabol opened #20 "clean up output of "make test" [Gearman-2.004.007]"
(1) t/04-task.t reports:
`"my" variable $v masks earlier declaration in same scope at t/04-task.t line 241.`

Proposed solution: Change `my $v` on line 249 of t/04-task.t to just `$v`.

(2) Many tests print out `/sbin/gearmand: Could not open log file "/var/log/gearmand.log", from "/path/to/build/Gearman-2.004.007-t7QIlV", switching to stderr. (Permission denied)`
This is only a warning message an

[2017-06-01 23:36] esabol commented on #18
Let me know when the commit makes it here to GitHub, and I'll take a look. Thanks!

[2017-06-02 06:22] p-alik commented on #18
I beg your pardon, Ed.
The changes are in [upstream](https://github.com/p-alik/perl-Gearman/tree/upstream) branch.
your can see diffs:
- [_rc](https://github.com/p-alik/perl-Gearman/commit/a588f344c357219120704a0d1387112af5b55eb8)
-  [_send](https://github.com/p-alik/perl-Gearman/commit/46fda2e0022caf6e2ef5479d9f65e9db496e7bab)

[2017-06-02 06:39] esabol commented on #18
Ah, that's what you meant by upstream. Those changes all look good to me!

[2017-06-02 06:49] p-alik commented on #20
Thanks for reporting, Ed.
It's done in [upstream](https://github.com/p-alik/perl-Gearman/tree/upstream)
`gearmand` will be started with `--log-file /dev/stderr` unless `GEARMAND_LOG_FILE` is set.
See b80f9abc7c7955b7156e359bccddb4e9ddd53830

[2017-06-02 06:50] #18 closed, assigned to nobody

[2017-06-02 06:54] esabol commented on #20
Looks good to me!

[2017-06-02 06:54] #20 closed, assigned to nobody

[2017-06-02 10:26] p-alik opened #21 "gearmand status command shows double workers after execution of execution Worker->register_function"
The bug is in releases >= [v2.003_001](https://github.com/p-alik/perl-Gearman/releases/tag/v2.003_001)

[2017-06-02 15:41] esabol commented on #21
I can confirm this happens with gearmand SSL. Have you seen it with non-SSL job servers?

[2017-06-02 15:53] esabol commented on #21
Also, it only happens with the first task registered by a worker.

[2017-06-02 19:51] p-alik commented on #21
SSL is no matter, it's a general issue.
In releases before aforementioned v2.003_001 the only [_on_connect](https://github.com/p-alik/perl-Gearman/blob/v2.004.007/lib/Gearman/Worker.pm#L680) was executed by [register_function](https://github.com/p-alik/perl-Gearman/blob/v2.004.007/lib/Gearman/Worker.pm#L437). `_on_connect` sends `can_do`. In releases >= v2.003_001 `register_function` sends the sec

[2017-06-04 06:10] esabol commented on #21
I see. When you're fixing that code, you might want to fix the misspelling of "working" on [line 479](https://github.com/p-alik/perl-Gearman/blob/v2.004.007/lib/Gearman/Worker.pm#L479).

[2017-06-06 08:40] p-alik commented on #21
[upstream](https://github.com/p-alik/perl-Gearman/tree/upstream) contains bug fixing of `register_function`

[2017-06-06 18:50] esabol commented on #21
The changes look reasonable. I'll see if I can test them.

[2017-06-06 19:19] esabol commented on #21
"make test" failed tests 2 and 4 in t/03-worker.t:
[code]
Also, a lot of the tests printed this:
[code]

[2017-06-07 13:11] p-alik commented on #21
Pardon me. `03-worker.t` and `$timeout' issues are done.

[2017-06-07 20:46] esabol commented on #21
Well, "make test" works now, but my workers are only registering the first task. The other tasks aren't registering.

So I went from having 30 capable workers for task "A" and 15 capable workers for tasks "B" through "Z" to having 15 capable workers for task "A" and zero capable workers for tasks "B" through "Z". :-1:

[2017-06-07 21:02] esabol commented on #21
Log of my 5 development workers starting up:
[code]
Output of gearmand "status" command:
[code]

[2017-06-08 07:29] p-alik commented on #21
Sorry for that. It's work fine now

[2017-06-08 12:15] p-alik commented on #21
bed172ff4161bf46ad6b7dfdf01fce247897330f is related to the issue: renew registration on reconnect

[2017-06-08 22:43] esabol commented on #21
Looking good. I've got it running in my testing environment, and it seems to be working fine. :+1:

[2017-06-13 12:03] p-alik commented on #21
bug fixing is released in [v2.004.008](https://github.com/p-alik/perl-Gearman/releases/tag/v2.004.008)

[2017-06-13 12:03] #21 closed, assigned to nobody

[2017-06-14 06:19] ppisar opened #22 "Gearman-2.004.008 tests report "Unknown option: log-file""
Gearman-2.004.008 added --log-file option to server invocation when running tests. But running the tests against Gearman-Server-1.130.1 results in warnings about an unknown option:

[code]

[2017-06-14 12:37] p-alik commented on #22
Thanks for reporting, @ppisar.
Bug fixing should be included in next release.

[2017-06-29 08:39] p-alik opened #23 "Gearman::Worker->work ignores some of job servers"
simple client/worker implementation:
- client

[code]

- worker

[code]

worker runs endless. After a while worker does not work on some of the job servers.

[2017-07-05 08:51] davel commented on #23
We have seen a similar problem in which the worker does not fetch jobs from either of our two configured gearmand servers, despite many outstanding jobs existing. The worker goes into a loop calling select,

`getpeername(3, {sa_family=AF_INET, sin_port=htons(4730), sin_addr=inet_addr("1.2.3.4")}, [16]) = 0
getpeername(4, {sa_family=AF_INET, sin_port=htons(4730), sin_addr=inet_addr("5.6.7.8.9")}, [

[2017-07-05 09:18] p-alik commented on #23
thanks, @davel

[2017-07-28 13:24] p-alik commented on #23
@davel, I can't reproduce the issue. It doesn't appear anymore. Is it an issue with particular `gearmand` version?

[2017-07-28 13:29] davel commented on #23
We are running gearmand 1.0.6 under Ubuntu 14.04 in round-robin mode.

[2017-07-28 13:37] p-alik commented on #23
thanks, @davel.

[2017-07-28 17:15] esabol commented on #23
Maybe try upgrading to gearmand 1.1.17, @davel ?

[2017-08-23 15:21] cghiban opened #24 "unexpected packet type: error [not_worker -- ]"
Using the latest CPAN release, I'm getting this error and the worker exists/stops running.

Reverting to v1.130 I don't see this issue.

[2017-08-24 12:07] p-alik commented on #24
@cghiban, could you share your worker implementation or some sort of code to reproduce the error?

[2017-09-06 12:52] p-alik opened #25 "improve pod"
- [x]  [Gearman::Client->do_task](https://github.com/p-alik/perl-Gearman/blob/master/lib/Gearman/Client.pm#L99)

Only on_complete handler will be overridden.

- [x]  [s/head4/head2/](https://github.com/p-alik/perl-Gearman/blob/master/lib/Gearman/Worker.pm#L522)

[2017-10-06 14:28] p-alik commented on #23
@davel, it looks to me the bug is fixed. If you want, you could use [upstream](https://github.com/p-alik/perl-Gearman/tree/upstream). New release will be uploaded to CPAN next days.

[2017-10-11 07:16] #24 closed, assigned to nobody

[2017-10-11 07:22] p-alik commented on #25
534134a7a invoke on_complete

[2017-10-11 07:22] #25 closed, assigned to nobody

[2017-10-11 07:26] p-alik commented on #23
v2.004.009 available on [CPAN](https://metacpan.org/pod/release/PALIK/Gearman-2.004.009/lib/Gearman/Client.pm)

[2017-10-11 07:26] #23 closed, assigned to p-alik

[2017-10-11 07:27] p-alik commented on #22
done in [2.004.009](https://metacpan.org/pod/release/PALIK/Gearman-2.004.009/lib/Gearman/Client.pm)

[2017-10-11 07:27] #22 closed, assigned to nobody

[2017-10-11 07:59] esabol opened #26 "Pod typo"
https://github.com/p-alik/perl-Gearman/blob/4312dba96139d53887fa9ba9035b6e190979053c/lib/Gearman/Objects.pm#L146

s/getr/get/;

[2017-10-11 14:36] p-alik commented on #26
Thank you, @esabol.

[2017-10-26 03:41] esabol opened #27 "Gearman::Client problem with strings flagged as UTF8"
I'm not sure if this is a bug or not? What do you think? If it's not a bug, I will close the issue.

I recently modified my Gearman clients to read some configuration information from an XML file using XML::LibXML. Afterward, I started getting the following error in my clients with 2.004.009 whenever I called do_task() with a string based on one of the values I parsed from the XML file:
[code]
If

[2017-10-26 04:08] esabol commented on #14
These tests have been quite reliable lately. I'm not sure what caused them to be unreliable before, but I'm satisfied that this is likely no longer a problem. Are you still getting t/50-wait_timeout.t failures on cpantesters? If not, feel free to close this issue.

[2017-10-27 10:53] p-alik commented on #27
There is now way to certainly answer the question without utf8 tests. I'll add it soon and let you know the result.

As mentioned in [IO::Socket::SSL issue 98372](https://rt.cpan.org/Public/Bug/Display.html?id=98372) Net::SSLeay seems to cause it.

Indeed, this will be done for both client and worker implementations.

[2017-10-27 11:14] p-alik commented on #14
[http://matrix.cpantesters.org/?dist=Gearman%202.004.009](cpantesters) doesn't got some fail reports for 2.004.009. Here are latest reports with regard to `50-wait_timeout.t`.

[2017-10-27 11:15] p-alik commented on #14
we'll reopen the issue if necessary

[2017-10-27 11:15] #14 closed, assigned to p-alik

[2017-10-30 08:38] silent-at-gh opened #28 "Gearman workers intensively hog CPU while idling (instead of sleeping)"
Hi,
the issue has been observed aprox. starting from the middle of Oct 2017 (I assume after update of module on CPAN from 2.004.008->2.004.009).

System info:
[code]
STR:
- run perl application that spawns aprox. 10 workers (indeed issue is observed even with 1-2 workers);
- do not submit any tasks to job server to let workers idle after start;

Observed result:
- in a matter of 5-10 seconds worke

[2017-10-30 22:34] esabol commented on #28
I can confirm this issue. With 2.004.009:
[code]
And with 2.004.008:
[code]

[2017-10-30 23:10] esabol commented on #27
I was more referring to the philosophical question of whether or not UTF8-flagged payloads _should_ be supported or not. The IO::Socket::SSL and Net::SSLeay developers don't seem to think so?

[2017-10-31 23:06] esabol commented on #28
Was that intentional? I hope that's a mistake.

[2017-11-01 04:30] p-alik commented on #28
I beg your pardon, @esabol. Indeed it was a mistake. The issue is done in upstream.

[2017-11-01 06:50] esabol commented on #28
Cool! I'll try to test the upstream branch tomorrow.

[2017-11-03 00:33] esabol commented on #28
Well, I have tested the upstream branch, and I have good news and bad news.

The good news is that it solves the problem with the CPU usage. 10 seconds after starting the workers, `ps auxgww` shows 0.0% CPU usage.

The bad news is that the workers' response times are at least 25 times slower in my benchmarks. :( This is in comparison to version 2.004.008. (2.004.009 has even worse problems.)

I am

[2017-11-03 16:08] p-alik commented on #28
Thank you, @esabol. I separated result of your benchmark in an other issue: #29

[2017-11-03 16:23] p-alik opened #29 "worker's performance loss in v2.004.009"

[2017-11-05 21:11] p-alik commented on #29
@esabol, f6c26ca8 solves the issue in my test environment.
Could you test, please.

[2017-11-05 21:45] esabol commented on #29
Sadly, it does not for me. It won't even complete 100 iterations. At some point a worker just gets frozen and doesn't respond at all.

[2017-11-05 22:07] esabol commented on #29
Also, even when a worker doesn't freeze up, it's still slower than v2.004.008. Response times of upstream branch code range from 0.27083 to 3.527426 seconds, with most over 1.0 seconds. With v2.004.008, response times range from 0.00843 to 0.015321 seconds in a small sample of 10 consecutive iterations of each.

upstream:
Response time: 2.148328 s
Response time: 0.60157 s
Response time: 0.27083 s

[2017-11-05 23:17] esabol commented on #29
I upgraded to the latest versions of Net:SSLeay, IO::Socket::SSL, and IO::Socket::IP just in case I was encountering some kind of bug with one of those, and I get similar results.

[2017-11-06 09:05] p-alik commented on #29
Register on reconnect. See #23

[2017-11-07 21:47] p-alik commented on #29
For benchmark purpose I'm using scripts similar to your description without SSL because neither 2.004.008 no upstream have some changes with regard to SSL.

- **client.pl**
[code]
- **worker.pl**
[code]
In my environment upstream is always slightly faster.

[code]

[2017-11-08 19:12] esabol commented on #29
I'm not sure I understand. What do you mean "upstream always hits 2.4.8"?

Your timings seem to agree with what I'm seeing, but the disparity is not as bad without SSL.

I recommend changing "use Benchmark..." to `use Benchmark qw(:hireswallclock);` to get hires timings. A little trick I just discovered recently.

[2017-11-08 20:22] p-alik commented on #29
I meant  upstream is faster.

I update the client code in my [former comment](#issuecomment-342633467) respectively to your suggestion.

[2017-11-09 04:20] esabol commented on #29
Are you sure? That's not what your original timings showed, I thought. IIRC, it showed 2 seconds for 2.4.8 and 7 seconds for upstream.

[2017-11-09 07:54] p-alik commented on #29
In [Benchmark output](#issuecomment-342633467) upstream is 2% faster.

In upstream I tried to reduce the complexity of initial [work sub](https://github.com/p-alik/perl-Gearman/blob/v2.004.008/lib/Gearman/Worker.pm#L359-L399) and to replacing usage of fd's by IO::Select. That's the [result](https://github.com/p-alik/perl-Gearman/blob/upstream/lib/Gearman/Worker.pm#L357-L380).

The only reason for

[2017-11-09 13:57] esabol commented on #29
That doesn't explain your previous timings, nor does it explain why my timings are vastly worse with upstream+SSL. Anyway, I will try to test without SSL and see if I can reproduce your latest timings.

[2017-11-09 14:23] esabol commented on #29
Also, you might want to redo your timings with `Benchmark::Forking` instead of `Benchmark` for more accurate benchmarks. Leave the `use Benchmark qw(:hireswallclock);` line and put `use Benchmark::Forking;` on the next line. Maybe it won't make any difference. I don't know. I've been using Benchmark::Forking for what it's worth.

http://www.dagolden.com/index.php/1849/adventures-in-benchmarking-pa

[2017-11-10 21:38] p-alik commented on #29
new client:
[code]

No significant alteration in benchmark result.

[2017-11-11 14:18] p-alik commented on #27
fa66ba71c6 adds a note in Client.pm with regard to lack of UTF-8 support.
If it appears convenient to you, I'll add the same in Worker.pm.

[2017-11-12 02:45] esabol commented on #27
That's fine with me. Thank you!

[2017-11-19 19:12] p-alik commented on #29
@esabol with 92c07a7 worker implementation equal to 2.004.008. Only bug fixing of #23 is a part of the next release 2.004.010 I'll put to cpan next days. In my tests new release doesn't have any disadvantage. For testing purpose you coud use the code of master branch.

[2017-11-19 19:14] p-alik commented on #28
@silent-at-gh,  bug fixing will be released to cpan with `v2.004.010` soon.

[2017-11-19 19:34] esabol commented on #29
I still see this a major problem. Can you test with SSL? I haven't been able to find the time to test without SSL, unfortunately.

[2017-11-21 18:32] p-alik commented on #28
[v2.004.010](https://github.com/p-alik/perl-Gearman/releases/tag/v2.004.010) was uploaded to CPAN.

[2017-11-21 18:32] #28 closed, assigned to nobody

[2017-11-21 18:36] p-alik commented on #29
Unfortunately SSL tests doesn't work with PR #31. So [v2.004.010](https://github.com/p-alik/perl-Gearman/releases/tag/v2.004.010) was uploaded to CPAN without PR #31

[2017-11-21 18:36] #29 closed, assigned to nobody

[2017-11-21 18:37] p-alik commented on #27
[v2.004.010](https://github.com/p-alik/perl-Gearman/releases/tag/v2.004.010) was uploaded to CPAN.

[2017-11-21 18:37] #27 closed, assigned to nobody

[2017-11-21 18:37] p-alik commented on #26
[v2.004.010](https://github.com/p-alik/perl-Gearman/releases/tag/v2.004.010) was uploaded to CPAN.

[2017-11-21 18:37] #26 closed, assigned to nobody

[2017-11-23 15:54] p-alik opened #32 "SSL tests fail with PR 31"
PR #31 leads to freeze of [t/18-ssl.t](https://github.com/p-alik/perl-Gearman/blob/master/t/18-ssl.t#L121) in `subtest "sum"` on `do_task`

@esabol got the issue with v2.004.009

see [his comment in #31](https://github.com/p-alik/perl-Gearman/pull/31#issuecomment-346424125)

[2017-11-29 00:54] esabol commented on #32
I suspect `Gearman::ResponseParser::parse_sock()` needs to be modified to use `Gearman::Util::_read_sock()`. What do you think @p-alik? Is that possible?

Reference:
http://search.cpan.org/~sullr/IO-Socket-SSL/lib/IO/Socket/SSL.pod#Using_Non-Blocking_Sockets

@p-alik implemented this algorithm in `Gearman::Util::_read_sock()` almost exactly a year ago, but I think we must have overlooked `Gearman:

[2017-11-29 08:22] p-alik commented on #32
@esabol, thanks for the hint. Could you test upstream, please.
It seems the commit 527be3d solved the issue.

[2017-11-29 12:18] p-alik commented on #32
no more

[2017-11-29 21:49] esabol commented on #32
This is definitely an improvement over 2.004.010, comparable to 2.004.008, but it still freezes up at higher iterations (~1000). Maybe this is a separate issue, but I think the only solution to what I'm seeing is to implement the algorithm at http://search.cpan.org/%7Esullr/IO-Socket-SSL/lib/IO/Socket/SSL.pod#Using_Non-Blocking_Sockets in `Gearman::Util::read_res_packet()`.

[2017-11-29 21:59] esabol commented on #32
* worker_ssl.pl:
[code]
* benchmark_ssl_upstream.pl:
[code]

[2017-11-30 16:55] p-alik commented on #32
@esabol, in my environment benchmark stopped at the and with `$count = 1000000`.

[code]

[2017-12-01 00:56] esabol commented on #32
You are lucky and/or I am unlucky, I guess. Do you have any suggestions on how to debug this? I tried changing DEBUG to 1 in `Gearman::Util`, but it didn't really give me any useful information.

Could be some difference in kernel, networking configuration, or ??? I'm on CentOS 7.4 with 3.10.0-693.5.2.el7.x86_64. We just updated the kernel and all the packages about a week ago, so we should be ver

[2017-12-01 01:38] esabol commented on #32
Setting DEBUG to 1 in Gearman::Util, I typically see the following when a "freeze" happens (on the 127th iteration in this case):
[code]
And then the last 5 lines just keep repeating every few seconds.

At that point, gearmand status shows no jobs queued or running. I guess the client is hanging on reading the result from gearmand?

[2017-12-01 19:30] esabol commented on #32
I added a bunch of `warn`s to `Gearman::Client::do_task()`, and it's now clear to me that the client is hanging at `$ts->wait(timeout => $task->timeout);` in `do_task()`.

[2017-12-01 19:37] esabol commented on #32
After adding some warns to `Gearman::Taskset::wait()`...
[code]
The last two lines just keep repeating...

[2017-12-01 21:05] esabol commented on #32
Potentially relevant articles:
http://www.perlmonks.org/?node_id=451222
http://www.perlmonks.org/?node_id=845342

Except $IO::Socket::SSL_ERROR and $! are both undef before and after the select call, so I'm a bit lost.

[2017-12-01 21:25] esabol commented on #32
OK, I think I see the problem now. In `Gearman::Util::_read_sock()`, whenever `$sock->pending()` is non-zero after the `sysread()` there, the `select` in `Taskset::wait()` never returns a defined value.
[code]

[2017-12-01 22:54] esabol commented on #32
The IO::Socket::SSL pod says:

So I thought maybe reading the pending bytes would clear the buffer and allow the select in Taskset::wait to work. So I added:
[code]
to `Gearman::Util::read_res_packet()` after the `warn " Fully formed res packet...` line.

That resulted in the following being printed:
[code]
That appears to be the result that `Taskset::wait()` is waiting on? So I think `Taskset::wa

[2017-12-01 23:15] esabol commented on #32
Well, I tried to implement that, but it's still not working. In that scenario, it just freezes after `Starting up event loop`... :( Well, my work day is done here, so I'm going to give it a rest until Monday. Let me know if you have any insights....

[2017-12-05 17:19] p-alik commented on #32
I'm using Ubuntu 16.04 right now with 4.10.0-40-generic kernel. Local networking.

See [this comment at #31 ](https://github.com/p-alik/perl-Gearman/pull/31#issuecomment-346115363)

I'll try to setup CentOS 7.4 environment fro testing purpose.

[2017-12-05 18:32] esabol commented on #32
Based on what I've read, it could be due to a difference in the SSL cipher being used for the connection as well.

Yesterday, I added checks for `$sock->pending()` to both `Taskset::wait()` and `Util::read_res_packet()`, and that seemed to resolve the issue I was seeing. I need to do more testing, and I need to clean up the changes quite a bit, but I hope to post some diffs soon.

[2017-12-05 21:52] esabol commented on #32
Here is a patch for Taskset.pm and Util.pm which adds checks for pending bytes prior to select. It could probably be tidied up quite a bit more in order to have less duplicate code (especially in `Taskset::wait`). I added some `warn`s. Feel free to tweak as you see fit. What do you think?

[diff.txt](https://github.com/p-alik/perl-Gearman/files/1533100/diff.txt)

[2017-12-06 14:28] p-alik commented on #32
Thank you, @esabol. I could reproduce the behavior you described in my CentOS vagrant box.

[2017-12-06 20:00] esabol commented on #32
Glad to hear you can reproduce it, @p-alik.

[2017-12-08 18:27] p-alik commented on #32
@esabol, my testing based on upstream 0a723e2 doesn't fail anymore. `Taskset->wait` doen't stuck anymore on `select` by using SSL connection to only with one ` gearmand`.

Testing with multiple `gearmand` instances is the next step.

I thank you once again for your contribution!

[2017-12-08 18:54] esabol commented on #32
Comments added on upstream commits. Thanks for everything, @p-alik!

[2017-12-19 11:38] hidden-primary-net opened #33 "Gearman::Client: "on_fail" is not triggered on timeout"
When handing in a `timeout` to a `do_task` call of a Gearman::Client object the given "on_fail" callback is currently not triggered when the timeout elapsed as told by the [`Gearman::Task` documentation](../blob/upstream/lib/Gearman/Task.pm#L137). Please see the prove: https://github.com/hidden-primary-net/perl-Gearman/commit/cb9d3c6a6ac75f4136b97d82b84667c8551d66b8.

[2017-12-19 20:59] esabol commented on #32
I've tested the latest upstream branch many times and have encountered no problems. My timings of 10000 iterations can vary quite a bit though, ranging from 13 seconds to 32 seconds. I cannot explain such a wide disparity in timings. Anecdotal individual response times appear to be comparable to or perhaps even faster than 2.004.008, so I'm happy about that.

[2017-12-20 10:33] p-alik commented on #32
There is no such timing disparity in my local environment. Here some benchmark runs on upstream:
[code]
v2.004.008 timings are similar.

I haven't finished testing of upstream yet, but I'll do it this week.

[2017-12-20 10:39] p-alik commented on #32
benchmark runs on v2.004.008 freeze sporadically. Tested on Ubuntu 16.04.

[2017-12-20 10:56] esabol commented on #32
As long as it doesn't freeze with upstream, that's fine. :)

[2017-12-22 15:20] p-alik commented on #33
done in #34

[2017-12-22 15:20] #33 closed, assigned to nobody

[2017-12-22 15:44] p-alik commented on #32
v2.004.011 is released to CPAN. Thank you, @esabol.

[2017-12-22 15:44] #32 closed, assigned to nobody

[2018-01-03 14:34] hidden-primary-net opened #35 "Gearman::Taskset: Wrong error reason"
With issue #33 fixing the missing call of the `on_fail` callback I suggested an error reason containing the given timeout value. Unfortunately I missed the fact that the given value is manipulated. Instead of telling the given timeout value the user encounters a message like this:

    Task task_that_does_not_exist elapsed timeout [1514988291.35953s]

The current time was added to the given timeou

[2018-01-10 19:38] esabol commented on #35
I think this issue can be closed now with the release of v2.004.012?

[2018-01-10 20:11] p-alik commented on #35
indeed, the issue is done

[2018-01-10 20:11] #35 closed, assigned to nobody

[2018-02-01 13:46] ppisar opened #37 "v2.004.011 breaks Gearman-Client-Async-0.94"
Gearman-Client-Async-0.94's t/allinone.t test fails after upgrading Gearman from 2.004.010 to 2.004.011:

[code]

This happens since this Gearman commit:

[code]

[2018-02-01 14:14] ppisar commented on #37
The commit adds:

[code]

And this triggers the failure because $sock is `\*{'Gearman::Worker::$sock'};` according to Data::Dumper.

[2018-02-01 14:47] p-alik commented on #37
thank you for reporting, @ppisar .
It looks like I repeatedly overseen demand to test `Gearman::Client::Async`.
Sorry for that. I'll amend it soon.

[2018-02-05 15:54] #37 closed, assigned to nobody

[2018-03-09 22:14] esabol opened #38 "Deep recursion on subroutine "Gearman::Util::_read_sock" warning with large task payloads"
For very large responses to `do_task()` (> 100 MB), Perl prints the following warning:
[code]
This seems harmless enough (the response is completely intact). Based on my googling, this warning is issued when you reach 100 levels of recursion.

Since `_read_sock` heavily utilizes recursion, I think adding
[code]
on line 7 of Gearman/Util.pm might be a good idea. It doesn't seem to be possible to tu

[2018-03-12 11:00] p-alik commented on #38
Thank you, @esabol.
Putting `no warnings` pragma inside of `Gearman::Util::_read_sock` solves the issue also.
If you haven't any objections, I would rather prefer this variant.

[2018-03-12 14:31] esabol commented on #38
I'm worried that might impact performance doing that?

[2018-03-13 10:39] p-alik commented on #38
my version would be slightly slower.
[code]
[no-warning-benchmark.tar.gz](https://github.com/p-alik/perl-Gearman/files/1806534/no-warning-benchmark.tar.gz)

[2018-03-13 13:39] esabol commented on #38
Not much of a difference, but I would still put it at the top of the file instead of in the `sub`.

[2018-03-13 18:38] #38 closed, assigned to nobody

[2018-03-13 18:47] p-alik commented on #38
[v2.004.014](https://github.com/p-alik/perl-Gearman/releases/tag/v2.004.014) should be available on CPAN soon.

[2018-05-29 13:56] vkatsikaros opened #39 "Multiple gearman servers and redundancy"
Hi

The gearman [documentation](http://gearman.org/) says on multiple servers:

When we experimented with one of many gearman servers to be stopped we experienced broadcasting to be 100 to 200 times slower, compared to all gearman server running.

I would like to ask if this is the expected behavior and/or if there is something additional we could do to improve the situation:

Results
--------
- c

[2018-05-29 21:40] p-alik commented on #39
I guess default [command_timeout](https://github.com/p-alik/perl-Gearman/blob/master/lib/Gearman/Client.pm#L150) is blame for the issue.

Worker's [register_function](https://github.com/p-alik/perl-Gearman/blob/master/lib/Gearman/Worker.pm#L436) also supports setting of timeout.

[2018-05-30 07:53] vkatsikaros commented on #39
Thanks for the comments @p-alik

I did experiments with the default timeout (30) and a timeout of 1. However, I noticed that there is a difference (regardless of timeout) depending on the meaning of "server running":

1.  the machine hosting gearmand is turned on and accepts network connections but the gearmand server is not running
2. the machine hosting gearmand is turned off and the IP is not p

[2018-05-30 13:46] vkatsikaros opened #40 "Gearman::Client undocumented options"
It seems there are 2 undocumented [options](https://github.com/p-alik/perl-Gearman/blob/v2.004.014/lib/Gearman/Client.pm#L149:L150) in the [Gearman::Client perdoc section](https://github.com/p-alik/perl-Gearman/blob/v2.004.014/lib/Gearman/Client.pm#L64:L91)
* backoff_max
* command_timeout

[2018-06-05 13:48] p-alik commented on #39
I'm sorry for misleading you.

[socket initialisation](https://github.com/p-alik/perl-Gearman/blob/master/lib/Gearman/Objects.pm#L192) is much faster if resource is available.

**client.pl** used for testing
[code]
* no `gearmand` service `timethis 500:  0 wallclock secs ( 0.06 usr +  0.03 sys =  0.09 CPU) @ 5555.56/s (n=500)`
* with `gearmand` service `timethis 500:  0 wallclock secs ( 0.10 usr +

[2018-06-07 15:47] vkatsikaros commented on #39
@p-alik thanks for the comments. So I understand, there no a solution with "perl-Gearman" to improve the situation if the machine with gearmand is not running. I guess the only fallback option is to somehow to a "ping" the machines in my client code and dynamically set the `$client->job_servers`. Any thoughts about a "perl-Gearman" solution?

[2018-06-11 06:05] p-alik commented on #39
Unfortunately I haven't any solution for the issue. In my opinion it's an issue of application/environment and not of perl-Gearman. There is no issue at all if Gearman::{Client,Worker} is initialised with improved list of `gearmand`-instances.

But if you have any idea to improve perl-Gearman, please share it.

[2018-06-11 08:33] vkatsikaros commented on #39
Thanks @p-alik !

[2018-06-11 08:33] #39 closed, assigned to nobody

[2018-07-01 04:04] esabol opened #41 "Gearman::Worker documentation"
Found a typo. Please change "reset_abilityes" to "reset_abilities" here:

https://github.com/p-alik/perl-Gearman/blob/cc1f076920938a69ccafb3dbf9d7202c37508836/lib/Gearman/Worker.pm#L182

Also, I feel that the `stop_if`, `on_start`, `on_complete` and `on_fail` callbacks for `work` need to be documented better. `stop_if` has an example, but the others are only barely mentioned. It's not clear what v

[2018-07-05 17:41] esabol commented on #41
Looking better!

i also recommend changing:

https://github.com/p-alik/perl-Gearman/blob/1652870e96f665302682785f211c7979eeb426c2/lib/Gearman/Worker.pm#L195

to

[code]
And
https://github.com/p-alik/perl-Gearman/blob/1652870e96f665302682785f211c7979eeb426c2/lib/Gearman/Worker.pm#L213

to

[code]

And
https://github.com/p-alik/perl-Gearman/blob/1652870e96f665302682785f211c7979eeb426c2/lib/Gearman/W

[2018-07-06 06:21] p-alik commented on #41
I really appreciate your suggestions @esabol. Thank you very much!

[2018-08-24 15:03] p-alik commented on #40
enhancement is released in 2.004.015
https://metacpan.org/changes/release/PALIK/Gearman-2.004.015

[2018-08-24 15:03] #40 closed, assigned to nobody

[2018-08-24 15:04] p-alik commented on #41
enhancement is released in 2.004.015
https://metacpan.org/changes/release/PALIK/Gearman-2.004.015

thank you

[2018-08-24 15:04] #41 closed, assigned to nobody

[2018-11-09 10:19] andk opened #43 "missing documentation of Gearman::Task's on_-callbacks"
RTFS reveals the number of on_xxx fields is 8, but the manpage covers only 5. Three are missing:

[code]

[2018-11-09 16:12] p-alik opened #44 "GEARMAND_ADDR=localhost:4730 prove -l t/16-background.t runs fine in first attempt and fails by next one"
It could be an [gearmand](https://github.com/gearman/gearmand) issue.

[code]
During second execution of t/16-background.t `gearmand` logs:
[code]

[2018-12-05 11:22] p-alik commented on #44
could reproduce it with perl-gearman head 4f221ba9a18dd52de9c54f1fc8731b3e614e743c and https://github.com/gearman/gearmand/commit/714188cf57ce092bcff4a989bd53a677606d9bff

- `GEARMAND_DEBUG=1 GEARMAND_PATH=/opt/devel/Gearman/gearmand/gearmand/gearmand prove -I /opt/devel/Gearman/perl-Gearman/lib/ -lv t/gearmand-realloc.t &> gearmand-realloc.log`
-  `gearmand-realloc.t`
[code]

[2019-01-02 18:10] p-alik commented on #43
https://github.com/p-alik/perl-Gearman/blob/4f221ba9a18dd52de9c54f1fc8731b3e614e743c/t/04-task.t#L153
@andk, do you have any objection to solve it in this manner https://github.com/p-alik/perl-Gearman/commit/43e6602959e36eed4c9885943acc7ccb68b83133?

[2019-04-21 05:24] esabol commented on #44
Any idea what's going on here? Open issue with gearman/gearmand regarding this?

[2019-04-21 09:00] p-alik commented on #44
I'll try to answer the question next week

[2019-04-26 14:54] p-alik commented on #43
@andk, documentation for two of three fields has been added yet.

- `on_data` 3a666571177bdf480de67fbf358e29ab8981956a
- `on_exception`
  - cffe74b617dbcf71e82d085590784e3197ba5590
  - ec12ee01c8356b80c8d55394f714e1e5242d0052

There is no internal use of `on_post_hooks` at all. [Gearman::Client::Async](https://github.com/p-alik/Gearman-Client-Async/blob/master/lib/Gearman/Client/Async.pm#L175) see

[2019-04-26 15:59] p-alik commented on #44
The issue is done. No issue for `gearmand`.

Test jobs remained in the queue because test worker's subroutine returned `undef` and [Gearman::Worker](https://github.com/p-alik/perl-Gearman/blob/master/lib/Gearman/Worker.pm#L355) never sent WORK_COMPLETE-Request.

- first run
[code]
- second run
[code]

[2019-04-26 15:59] #44 closed, assigned to nobody

[2019-04-26 21:42] esabol commented on #44
But what caused the excessively large realloc call in gearmand? Something doesn't seem right there.

[2019-04-29 13:47] p-alik commented on #44
`gearmand`'s `realloc`-ERROR disapeared after applying 4b1a8520aec9cb0a1cccf44404b44c6447e0eeb7

It could be an [gearman_io_recv](https://github.com/gearman/gearmand/blob/260993fc84fa26805d37895d9a9c81b0bc19092d/libgearman-server/io.cc#L836) issue.

[2019-04-29 13:52] p-alik commented on #43
Please, reopen the issue, if you have any objections.

[2019-04-29 13:52] #43 closed, assigned to nobody

[2019-04-29 14:39] esabol commented on #44
That still sounds like a problem in gearmand to me. Do you not think so?

[2020-07-25 10:40] p-alik opened #47 "Gearman::Client->get_job_server_status doesn't work properly for prefixed jobs"
https://github.com/p-alik/perl-Gearman/blob/6ad2eab514b81f07e8cc6eaf0db4b0bfccf434c1/lib/Gearman/Client.pm#L240

See #46

[2020-10-01 15:59] cghiban opened #48 "some jobs are repeated indefinitely"
Hi, I have a worker with  this function registered

[code]

which I call it once in  the background. For some reason this function is executed until I stop the worker:

[code]

using gearadmin I can see these:

* before starting the worker
[code]

* after staring the worker, ran gearadmin a few times
[code]

How can I make sure the job runs only one time? I'm using gearmand v1.1.12 (not Gearman::S

[2020-10-01 17:45] p-alik commented on #48
Your `get_job_history` calls `send_work_complete`. `Gearman::Worker->work` executes the sub also.

https://github.com/p-alik/perl-Gearman/blob/6ad2eab514b81f07e8cc6eaf0db4b0bfccf434c1/lib/Gearman/Worker.pm#L361

I guess all will be fine if you remove `send_work_complete` from `get_job_history`

[2020-10-01 18:30] cghiban commented on #48
Thanks, this seems to work. I actually added these 2 lines when trying to solve this issue:

[code]

Basically I need to return something so that the server can remove the jobs?

[2020-10-02 06:31] p-alik commented on #48
You've to send something, but for sake of worker implementation. Otherwise the worker [sends](https://github.com/p-alik/perl-Gearman/blob/6ad2eab514b81f07e8cc6eaf0db4b0bfccf434c1/lib/Gearman/Worker.pm#L364) a [WORK_FAIL](https://github.com/gearman/gearmand/blob/302f33cebf730a9f7356ccdcc4cb8b4c171bd68a/PROTOCOL#L431) packet to the client.

[2020-10-02 17:50] cghiban commented on #48
Got it. Thanks

[2020-10-02 17:50] #48 closed, assigned to nobody

[2022-08-22 06:22] #47 closed, assigned to nobody